.btn-primary{
    background-color: green;
    transition: all 0.3s ease 0s;
}

.btn-primary:hover{
    color: gold;
    background-color: green;
}

.container{
    margin-top: 30px;
    margin-bottom: 30px;
}

.section-title{
    background-color: green;
    color: white;
}