*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: white;
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
}

/*COURSE CARDS*/

.curr-semester{
    margin-bottom: 30px;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    font-size: 20px;
}

.flex-container{
    display: flex;
    justify-content: space-between;
}

.courses{
    width: 90%;
    margin: auto;
    padding: 10px;
    margin-top: 30px;
}


.card-body{
    border: 2px solid whitesmoke;
    margin: 10px;
    text-align: center;
    border-radius: 15px;
}

.card-body, .card-content{
    background-color: whitesmoke;
}

.card-content{
    margin: 20px;
}

.class-link a{
    background-color: #006633;
    padding: 10px;
    color: white;
}

.class-link a{
    transition: all 0.3s ease 0s;
}

.class-link a:hover{
    color: gold;
}

.alerts-grades-past-classes{
    width: 90%;
    margin: auto;
    padding: 10px;
    margin-top: 30px;
}

.card-border{
    border: 2px solid black;
}

.alert-content{
    display: flex;
    justify-content: space-between;
    margin:5px 10px 5px 10px;
    background-color: red;
}

.card-size{
    width: 33%;
}

.title{
    color: black;
    text-decoration: none;
}

.card-border{
    border-radius: 10px;
    margin: 10px;
}

.grades{
    flex: 2;
    background-color: whitesmoke;
}

.alerts-heading, .grades-heading{
    text-align: center;
}

.course-grade{
    margin: 10px 10px 20px 10px;
    display: flex;
    border: 2px solid gray;
    border-radius: 10px;
}

.course-1, .course-2, .course-3{
    flex: 1;
    font-weight: 500;
}

.grade-box{
    padding: 10px;
    border: 1px solid white;
    border-radius: 10px;
}

.grade-1 p, .grade-1{
    background-color: green;
    color: white;
}
.grade-2 p, .grade-2{
    background-color: rgb(248, 194, 0);
    color: white;
}
.grade-3 p, .grade-3{
    background-color: rgb(205, 33, 3);
    color: white;
}

.alert-content, .title, .title a, .alerts, .drop-down-image{
    background-color: whitesmoke;
}

.alerts-heading, .alerts-heading h1, .grades-heading, .grades-heading h1{
    background-color: #006633;
}

.alerts-heading h1, .grades-heading h1{
    color: white;
}