

nav {
    padding: 20px;
    background-color: green;
    border-bottom: 10px solid #ffd700;
}

.container-fluid, #navbarNav, nav a, li, ul, button{
    background-color: green;
}

@media (max-width: 768px) {
nav {
    padding: 10px;
    font-size: 18px;
    }
}

@media (max-width: 576px) {
    nav {
    padding: 5px;
    font-size: 16px;
    }
}

#navbarNav li a{
    color: whitesmoke;
}

.student-details-table{
    width: 50%;
    margin: auto;
}

.table-bordered th, td{
    text-align: center;

}

.container{
    border: 2px solid black;
}

.view-btn{
    padding: 10px;
    border: 2px solid white;
    border-radius: 10px;
    color: white;
    transition: all 0.3s ease 0s;
}

.view-btn:hover{
    color: gold;
}

.card {
    margin-right: 10px;
    margin-bottom: 10px;
}
