#navbarNav li a{
    transition: all 0.3s ease 0s;
}

#navbarNav li a:hover{
    color: gold;
}

.navbar-brand img {
    max-width: 25%;
    height: auto;
}

.active{
    border-bottom: 2px solid gold;
}

nav {
    padding: 20px;
    background-color: green;
    border-bottom: 10px solid #ffd700;
  }
  
  .container-fluid,
  #navbarNav,
  nav a,
  li,
  ul,
  button {
    background-color: green;
  }

  #navbarNav li a {
    color: whitesmoke;
  }