#navbarNav li a{
    transition: all 0.3s ease 0s;
}

#navbarNav li a:hover{
    color: gold;
}

.navbar-brand img {
    max-width: 25%;
    height: auto;
}

.active{
    border-bottom: 2px solid gold;
}